<div class="mysql-index-site">
    
    <div class="mysql-index-title-row">
        <h1>Visitor Log</h1>
        <%= image_tag "Mysql_Logo.png" %>
    </div>

    <div class="mysql-index-intro-row">
        <p class='mysql-para'>MySQL is an Database that is offered as a built in service to the PCF platform</p>
        <p class='mysql-para'>
            For More Information About MySQL In General Please Refer To: <a href='https://dev.mysql.com/doc/'>https://dev.mysql.com/doc/</a>
        </p>
        <p>
            PCF offers MySQL as a service, It is very easy to take advantage of that in rails. You can create a MySQL service using this link:
                <a href="http://docs.pivotal.io/p-mysql/2-0/use.html">PCF MySQL Docs</a></p>
        </p>
        <p>Once this service is created PCF will automatically expose the DB URL in An Environment Variable "DATABASE_URL"</p>
        <p>Rails by design will automatically connect to a DB When a DB URL is stored in Environment Variable named: "DATABASE_URL"</p>
        <p class='mysql-para'>This Page Displays The Visits Stored In The PCF MySQL Tile DB</p>
        <button type="button" onclick=newVisit() id="visit-button">Log A Visit</button>
    </div>
        <table class ="table-row" id='visit-table'>
            <thead>
                <tr>
                    <th>Visitor ID</th>
                    <th>Visitor Name</th>
                    <th>Visitor SSO</th>
                    <th>Date Of Visit</th>
                    <th>Visitor Log Message</th>
                </tr>
            </thead>
            <tbody>
                <% @visits.each do |visit| %>
                    <tr>
                        <td><%= visit.id %></td>
                        <td><%= visit.name %></td>
                        <td><%= visit.sso %></td>
                        <td><%= visit.visit_date %></td>
                        <td><%= visit.message %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
</div>
<script>
    $(document).ready(function() {
        $('#visit-table').DataTable();
    } );

    function newVisit(){
        location.href='/mysql/new';
    }
</script>