<div class="home-index-site">
    <h1 class="home-index-title-row">Welcome To PCF - From The Open Platform Teams</h1>
    
    <div class='home-index-nbc-logo'>
        <%= image_tag "NBCU_Logo_Resize.png" %>
    </div>
    
    <div class='home-index-plus-sign'>
        <%= image_tag "Plus.png" %>
    </div>
    
    <div class="home-index-pcf-logo">
        <%= image_tag "PCF_Logo_Black.png" %>
    </div>
    
    <div class="home-index-intro">
        <p>The Open Platforms Team Hello World Project is an attempt to aid in the migration from traditional hosting to PCF by providing simple sample apps covering common pitfalls.</p>
        <p>These Apps will cover integration with the NBCU SSO System, the PCF MySQl Service and the Redis Service</p>
        <p>This is a Ruby On Rails "Hello World" Application and the source code is available at: <a href="https://github.com/abelnbcuni/hello-world-rails">Hello World Rails</a></p>
    </div>
    
    <div class ='home-index-mysql'>
        <a href="/mysql">
            <div id="mysql-logo">
                <%= image_tag "Mysql_Logo.png" %>
            </div>
        </a>
        <p class="mysql-intro">MySQL Integration</p>
    </div>
    
    <div class='home-index-redis'>
        <a href='/redis'>
            <div id="redis-logo">
                <%= image_tag "Redis_Logo.png" %>
            </div>
        </a>
        <p class="mysql-intro">Redis Integration</p>
    </div>
</div>







